<div *ngIf="data && data.length">
  <div *ngFor="let item of data">
    <nz-card
      style="width:300px;"
      [nzBordered]="false"
      [nzTitle]="item.name"
      [nzExtra]="extraTemplate"
    >
      <div *ngIf="item.responses">
        <div
          *ngFor="let response of orderByItem(item.responses, 'question.order')"
        >
          <div>
            {{ response.question.label || "NA" }}
            <div *ngIf="!['image','video'].includes(response.question.answerType)">
                {{  response.response.length ? response.response.join(',') : 'NA'}}
            </div>
            <span *ngIf="response.response && !response.response.length">NA</span>
            <div>
                <div *ngFor="let answer of response.response">
                    <div *ngIf="response.question.answerType === 'video'">Video</div>
                    <div *ngIf="response.question.answerType === 'image'">Image</div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
