<nz-input-group
  style="width: 300px; height: 40px; margin-bottom: 5px;"
  [nzSuffix]="suffixIconSearch"
>
  <input
    style="border-top: none; border-right: none; border-left: none;"
    type="text"
    nz-input
    placeholder="input search text"
  />
</nz-input-group>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
<nz-table
  #dataTable
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getData()"
  [nzData]="items"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th *ngFor="let item of headers" nzShowSort nzSortKey="item.value">
        <span>{{ item.text }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataTable.data">
      <td>{{ data.region || "NA" }}</td>
      <td>{{ data.title || "NA" }}</td>
      <td>{{ data.location || "NA" }}</td>
      <td>{{ data.CreatedBy.fullName }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.created_at | date }}</td>
      <td style="cursor: pointer;">
        <span>
          <nz-avatar nzSize="small" [ngStyle]="{ 'background': 'none', 'color': 'black' }" (click)="viewSurveyNotes(data.id)" nzIcon="message"></nz-avatar>
          <nz-avatar nzSize="small" [ngStyle]="{ 'background': 'none', 'color': 'black' }" (click)="viewSurvey(data.id)" nzIcon="eye"></nz-avatar>
          <nz-avatar nzSize="small" [ngStyle]="{ 'background': 'none', 'color': 'black' }" nzIcon="delete"></nz-avatar>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>
