<button nz-button (click)="manageItem(null)" type="submit">Add Question</button>
<nz-table
  #dataTable
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getData()"
  [nzData]="items"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th *ngFor="let item of headers" nzShowSort nzSortKey="item.value">
        <span>{{ item.text }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataTable.data">
      <td>{{ data.label }}</td>
      <td>{{ data.question_category.name }}</td>
      <td>{{ data.helpText }}</td>
      <td>{{ data.answerType | titlecase }}</td>
      <td>{{ data.isActive }}</td>
      <td>
        <mat-icon
          aria-hidden="false"
          (click)="manageItem(data.id)"
          aria-label="Example home icon"
          >edit</mat-icon
        >
        <mat-icon
          aria-hidden="false"
          (click)="deleteItem(data.id)"
          aria-label="Example trash icon"
          >delete</mat-icon
        >
      </td>
    </tr>
  </tbody>
</nz-table>
