<ul
  class="side-bar"
  nz-menu
  nzTheme="dark"
  [nzMode]="'inline'"
  *ngFor="let menu of sidemenues"
>
  <li
    [(nzOpen)]="openMap.sub"
    (nzOpenChange)="openHandler('sub2')"
    nz-submenu
    *ngIf="menu.submenus && menu.submenus.length"
  >
    <span title> {{ menu.title }} </span>
    <span *ngIf="menu.submenus && menu.submenus.length">
      <ul *ngFor="let submenu of menu.submenus">
        <li nz-menu-item
            (click)="navigate(submenu.route)"
        >
          <span>{{ submenu.title }}</span>
        </li>
      </ul>
    </span>
  </li>
</ul>
