<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-menu">
    <ul *ngFor="let menu of sidemenues">
      <li *ngIf="menu.submenus && menu.submenus.length" class="sidebar-dropdown">
        <a href="#">
          <i class="fa fa-tachometer-alt"></i>
          <span>{{menu.title}}</span>
        </a>
        <div *ngIf="menu.submenus && menu.submenus.length" class="sidebar-submenu">
          <ul *ngFor="let submenu of menu.submenus">
            <li>
              <a [routerLink]="submenu.route">{{submenu.title}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
