<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        name="user"
        placeholder="Name"
        [(ngModel)]="currentRole.label"
      />
    </nz-form-control>

    <nz-form-label [nzSpan]="6" nzFor="roles">Roles</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        name="roles"
        style="width: 100%"
        nzMode="multiple"
        nzPlaceHolder="Roles"
        [(ngModel)]="selectedPermission"
      >
        <ng-container *ngFor="let permission of permissions">
          <nz-option
            [nzLabel]="permission.name"
            [nzValue]="permission"
          ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
    <nz-form-control style="margin-top: 20px" [nzSpan]="20">
        <button nz-button style="float: right" (click)="createOrUpdate()" type="submit">Add</button>
    </nz-form-control>
</nz-form-item>
</form>
